.products {
    width: 600px;
    height: 300px;
    overflow: hidden;
    border: 1px solid;
    /* display: flex;
    flex-flow: row;
    
    float: left;
    overflow-y: scroll; */
}

.products-items {
    width: 600%;
    border: 1px solid;
    animation-name: galery;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    /* list-style: none;
    height: 10rem;
    width: 10rem;
    margin: 0 20px; */
}

.items {
    list-style: none;
}
