:root {
    --color-main-green: #00df4d;
    --color-light-green: #68de5a;
    --color-main-purple: #9035e0;
    --color-light-purple: #8c52e5;
    --color-main-black: #000000;
    --color-light-black: #1c1c1c;
    --color-main-white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.section-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-first-section {
    background: var(--color-main-white);
    background-attachment: fixed;
    background-size: contain;
}

img {
    width: 90%;
}

.background-second-section{
    background: var(--color-light-black);
}

.card {
    background: white;
    border-radius: 25px;
    padding: 25px;
    max-width: 450px;
    text-align: center;
}

form {
    display: flex;
    flex-flow: column;
}

input {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 12px;
    border: 1px solid gray;
    box-shadow: none;
}

footer {
    display: flex;
    justify-content: center;
    background: var(--color-light-black);
    color: var(--color-main-white)
}
